/* Container utama */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main Content */
.content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.2),
    0 4px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

/* Kontainer untuk gambar profil dan teks input */
.profileContainer {
  display: flex;
  align-items: center; /* Menjaga gambar dan teks sejajar */
  gap: 20px; /* Memberikan jarak antara gambar dan teks */
}

/* Tambahkan style untuk gambar profil */
.profileImage {
  width: 75px; /* Atur ukuran gambar */
  height: 75px;
  border-radius: 50%; /* Membuat gambar menjadi bulat */
  object-fit: cover; /* Agar gambar tidak terdistorsi */
}

/* Kontainer untuk teks dan input */
.textInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Input style yang menarik */
.input {
  width: 750px; /* Sesuaikan lebar input */
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid #cacaca;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #fff;
}

/* Fokus pada input */
.input:focus {
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Placeholder styling */
.input::placeholder {
  color: #888;
  font-style: italic;
}
