/* Popup Container */
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  animation: fadeIn 0.3s ease-in-out;
}

.popupContent {
  background: #efd9ff;
  padding: 20px 25px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  position: relative;
  animation: scaleUp 0.3s ease;
}

/* Close Button */
.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #6a0dad;
  background: none;
  border: none;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.closeButton:hover {
  color: #b76eff;
  transform: rotate(90deg);
}

/* Content Layout */
.contentWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.imageContainer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.image {
  border-radius: 10px;
}

.lawsContainer {
  flex-grow: 1;
  text-align: left;
}

/* Titles and Lists */
.title {
  font-size: 22px;
  font-weight: bold;
  color: #4a0d83;
  margin-bottom: 15px;
}

.titleJudul {
  font-weight: bold;
  color: #4a0d83;
  margin-bottom: 5px;
  text-align: center;
}

.lawsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lawItem {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.lawDetails {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

/* Navigation Buttons */
.dotsAndButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 2px; */
  gap: 15px; /* Space between buttons and dots */
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 0.3s;
}

.activeDot {
  background-color: #6a0dad;
}

.navButtonLeft,
.navButtonRight {
  font-size: 35px;
  cursor: pointer;
  padding: 12px;
  color: #ffffff;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.navButtonLeft:hover,
.navButtonRight:hover {
  color: #6a0dad;
  transform: scale(1.1);
}

.navButtonLeft:active,
.navButtonRight:active {
  transform: scale(0.95);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/* Responsiveness */
@media (max-width: 768px) {
  .popupContent {
    padding: 15px 20px;
  }

  .contentWrapper {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 18px;
  }

  .lawItem {
    font-size: 14px;
  }
}
