.container {
  min-height: 100vh; /* Membuat kontainer memenuhi tinggi layar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main Content */
.content {
  flex: 1; /* Memastikan elemen ini menggunakan sisa ruang */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 20px;
  background-color: #f8f9fa; /* Putih abu-abu muda */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px; /* Menambahkan jarak antar elemen hero */
}

.header {
  text-align: center;
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 8px 8px 0 0;
}

.section {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.formLabel {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.formInput {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.formButton {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
}

.formButton:hover {
  background-color: #45a049;
}

/* Pop-up */
.successPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #10B981; /* Tailwind Green 500 */
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
  max-width: 350px;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

